@import "tailwindcss";

html {
  font-family: var(--font-pretendard);
}

body {
  display: flex;
  justify-content: center;
  color: "#131416";
}

body > #wrapper {
  position: relative;
  width: 100%;
  max-width: 480px;
  min-height: 100vh;
  background-color: #ececec;
}

body #contents {
  min-height: 100vh;
  padding: 16px;
}
